body {
  font-family: "Karla", serif;
}

p {
  margin-bottom: 0.3em;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
